.bg{
    height: 100%;
    width: 100%;
    //background: linear-gradient(180deg, rgba(0, 0, 0, 0.98) 1.48%, rgba(3, 62, 119, 0.68) 12.52%, rgb(171, 41, 223) 89.52%), url('../assets/icon/download.png');
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(73,102,146,1) 80%, rgba(0,212,255,1) 100%);
}
ion-item{
   color: b;
    background-color:rgb(171, 41, 223) ;
}
